@import "_league_fonts";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.sidebar-nav{
  li {
    @apply p-7 text-2xl;
  }
}

/* WeatherMossWeb.Meteobridge */
.dash_widget {
  border: 2px solid #cccccc;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  padding: 10px;
  margin: 1rem;
  svg {
    display: inline-block;
  }
}

/*
.gauge-bg {
  fill: transparent;
  stroke: #cccccc;
  stroke-width: 24;
  stroke-linecap: round;
}

.gauge-fg-generic {
  fill: transparent;
  stroke-width: 22px;
  stroke-linecap: round;
}
*/

.gauge_timestamp {
  font-size: 0.7rem;
  text-align: center;
  strong {
    margin-right: 2rem;
  }
}
/* example of green-red gradient - UNUSED */
.gauge_gradient_bg {
  background-image: linear-gradient(to top, rgb(17,132,57), rgb(20,176,0), rgb(76,185,2), rgb(132,192,4), rgb(188,203,6), rgb(245,213,8),rgb(240,188,6),rgb(235,163,4),rgb(230,138,2),rgb(255,114,0))
}
.gauge_main_label {
  text-transform: uppercase;
  font-family: 'League Mono', Fallback, sans-serif;
  font-weight:  700; /* Bold */
  font-size: 1.3rem;
  /*
  // VS.
  //font-family: 'Orbitron', Fallback, sans-serif;
  //font-weight:  800; // Extra-Bold
  //font-size: 1.2rem;
  */
}

.gauge_side_label_marker {
  fill: transparent;
  stroke: #000000;
  stroke-width: 2px;
  stroke-linecap: butt;
}

.gauge_side_label {
  font-family: 'Leauge Mono', Fallback, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
