/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

$content-width: 960px;

body {
  margin: 0;
  padding: 0;
  background: #f0f0ff;
}

.layout-wrapper{
  display: flex;
  flex-direction: column;
}

header {
  margin: 0;
  padding: 0;

  .logo-title-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-top: 20px;
    padding-bottom: 2em;
    margin-bottom: 0;
    background: #0a3d11;
    a.weathermoss-logo {
      display: inline-block;
    }
    h1 {
      display: inline-block;
      color: #ffffff;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
      padding-left: 10px;
      padding-right: 10px;
      margin: 0;
      font-size: 2.5rem;
    }
    .tagline {
      display: inline-block;
      font-size: 0.75rem;
      color: #cccccc;
      line-height: 1.3rem;
    }
  }

  nav {
    padding: 0;
    width: $content-width;
    margin-left: auto;
    margin-right: auto;
    z-index: 50;
    position: relative;
    top:0px;
    transform: translateY(-2.25rem);
    margin-top: 0;
    margin-bottom: -4rem;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-left: 10%;
      margin-right: 10%;
      padding-left: 20px;
      padding-right: 20px;
      background: #ffffff;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
      list-style: none;

      li {
        &:hover, &:focus {
          background: #cfcfcf;
        }
        padding: 10px;
      }
      a {
        text-decoration: none;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

.content-wrapper {
  width: $content-width;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

main {
}

/* WeatherMossWeb.Meteobridge */
.mbdash_widget {
  border: 2px solid #cccccc;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  padding: 10px;
}

.gauge-bg {
  fill: transparent;
  stroke: #cccccc;
  stroke-width: 24;
  stroke-linecap: round;
}

.gauge-fg-generic {
  fill: transparent;
  stroke-width: 22px;
  stroke-linecap: round;
}


/* Flex Definitons */
.flex-container {
  display: flex !important;
}

.flex-row {
  flex-direction: row !important;
  -webkit-box-orient: horizontal !important;

  .flex-column {
    -webkit-box-direction: normal !important;
  }
}

.flex-column {
  flex-direction: column !important;
  -webkit-box-orient: vertical !important;

  .flex-row {
    -webkit-box-direction: normal !important;
  }
}




/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
